{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off",
  },
}
